<div class="container">
  <div class="leftbar">
    <a href="#"><h1>CollegeSwap</h1></a>
    <ul>
      <a href="#">post new item</a>
      <li>my account</li>
    </ul>
    <form>
      <p>search CollegeSwap</p>
      <input type="text" name="firstname" placeholder="search" size="20">
      <br>
      <input type="text" name="firstname" placeholder="where" size="20">
      <br>
      <select>
        <option value="toy">toy</option>
        <option value="guitar">guitar</option>  <!random items to select from dropdown menu>
        <option value="mercedes">Mercedes</option>
        <option value="oldbook">oldbook</option>
      </select>
      <button type="button">>
      </button>
    </form>
  </div>
  <div class="center-column" >
    <div class="center-one">
      <table>
        <tr>
          <th class="table-header">Items for sale</th>
        </tr>
        <tr>
          <td>
            <ul class="left-list">
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
            </ul>
            <ul class="right-list">
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
            </ul>
          </td>
        </tr>
      </table>
      <table>
        <tr>
          <th class="table-header">Swap items of similar price</th>
        </tr>
        <tr>
          <td>
            <ul>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
            </ul>
          </td>
        </tr>
      </table>
      <table>
        <tr>
          <th class="table-header">Things I want to buy/swap</th>
        </tr>
        <tr>
          <td>
            <ul class="left-list">
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
            </ul>
            <ul class="right-list">
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
            </ul>
          </td>
        </tr>
      </table>
    </div>
    <div class="center-two">
      <table>
        <tr>
          <th class="table-header">Things</th>
        </tr>
        <tr>
          <td>
            <ul>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
            </ul>
          </td>
        </tr>
      </table>
      <table>
        <tr>
          <th class="table-header">item 3 (guitar)</th>
        </tr>
        <tr>
          <td>
            <ul class="left-list">
              <li>pic 1</li>
              <li>pic 2</li>
              <li>pic 3</li>
              <li>Description</li>
              <li>Price</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
            </ul>
            <ul class="right-list">
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
            </ul>
          </td>
        </tr>
      </table>
    </div>
    <div class="center-three">
      <table>
        <tr>
          <th class="table-header">item 2</th>
        </tr>
        <tr>
          <td>
            <ul>
              <li>picture</li>
              <li>description</li>
              <li>price</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
              <li>test</li>
            </ul>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="rightbar">
    <ul class="rightbar-top">
      <li><%= link_to 'Swap or buy now', swap_path %></li>
      <li><%= link_to 'Offers/accept', offer_path %></li>
      <li><%= link_to 'bookmarks/wishlist', bookmark_path %></li>
      <li class="rightbar-top">terms of use</li>
      <li>privacy policy</li>
      <li>about collegeswap</li>
      <li>contact us</li>
    </ul>
  </div>
</div>
