<div class="landing_page_superwrapper">
  <div class = "wrapper landing_page">
    <h1 class="col-lg-12">"SWAP STUFF. MAKE FRIENDS"</h1>
      <ul class="nav nav-tabs">
        <li role="presentation" class="active signup_section"><a>Sign Up</a></li>
        <li role="presentation" class="login_section"><a>Log In</a></li>
      </ul>
      <form class="signup_form" ng-submit="signup()">
        <div class="row">
          <div>
            <div class="input-group">
              <input type="email" name="email" ng-model="registrationForm.email" required="required" class="form-control" placeholder="Email">
            </div>
          </div>
        </div>
        <div class="row">
          <div>
            <div class="input-group">
              <input type="password" name="password" ng-model="registrationForm.password" required="required" class="form-control" placeholder="Password">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input-group">
            <input type="text" list="schools" ng-model="registrationForm.school_id" required="required" placeholder="School" name="query">
            <datalist id="schools">
              <option ng-repeat="school in schools | filter:query" value="{{ school.id }}" label="{{ school.name }}"/>
            </datalist>
          </div>
        </div>
        <div class="submitWrapper">
          <button type="submit">Rock On!</button>
        </div>
      </form>
      <!-- Log in Form!!! -->
      <form class="login_form" style="display: none" ng-submit="login()">
        <div class="row">
          <div>
            <div class="input-group">
              <input type="email" name="email" ng-model="loginForm.email" required="required" class="form-control" placeholder="Email">
            </div>
          </div>
        </div>
        <div class="row">
          <div>
            <div class="input-group">
              <input type="password" name="password" ng-model="loginForm.password" required="required" class="form-control" placeholder="Password">
            </div>
          </div>
        </div>
        <div class="submitWrapper">
          <button type="submit">GO!</button>
        </div>
      </form>
  </div>
</div>